{% extends 'base.html' %}

{% block content %}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Order history</h1>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center text-uppercase">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Pages</a></li>
              <li class="breadcrumb-item text-white active" aria-current="page">Menu</li>
          </ol>
      </nav>
  </div>
</div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Food Name</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Review FOOD</th>
      </tr>
    </thead>
    <tbody>
{% for order in orders %}
{% for cart_item in order.items.all %}
                <tr>
                <td>{{ cart_item.food_item.name }}</td>
                <td>{{ cart_item.food_item.price }}</td>
                <td>{{ cart_item.food_item.category.name }}</td>
                <td><a href="{% url 'submit_review' food_item_id=cart_item.food_item.id %}" class="btn btn-info" > Reiview IT</a></td>
                </tr>
                {% endfor %}
{% endfor %}
    </tbody>
  </table>
{% endblock content %}
    
<!-- templates/order_history.html -->
